@import "tailwindcss";
@theme {
  /* #875a38 */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #3e2522;
  --color-secondary: #8c6e63;
  --color-tertiary: #d3a376;
  --color-accent: #ffe0b2;
  --color-accent-2: #fff2df;
}
